# Data Collection and Storage

### Importing libraries

In [21]:
# python os library
import json,os,re,datetime
import csv

# pandas library
import pandas as pd
from pandas import DataFrame

In [25]:
# path to un-processed data
path_to_folder = "raw_data"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['file1.json']

`raw_data` folder contains json data fetched from Zomato API. It contains 10 files from different cities of California, USA.

In [26]:
path=""


csvfile=open('zom-1.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant ID','Restaurant Name','Country Code','City','Address','Locality','Locality Verbose','Longitude','Latitude','Cuisines','Average Cost for two','Has Table booking','Has Online delivery','Is delivering now','Switch to order menu','Price range','Aggregate rating','Rating color','Rating text','Votes']) #writer to write the row


for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in range(len(loaded_file)):
            if 'restaurants' in loaded_file[i].keys():
                for j in range(len(loaded_file[i]['restaurants'])):
                    if('restaurant' in loaded_file[i]['restaurants'][j].keys()):
                        
                        currency = loaded_file[i]['restaurants'][j]['restaurant']['currency']
                        city=loaded_file[i]['restaurants'][j]['restaurant']['location']['city']
                        locality=loaded_file[i]['restaurants'][j]['restaurant']['location']['locality']
                        rating_text=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_text']
                        name_res=loaded_file[i]['restaurants'][j]['restaurant']['name'].replace('/'," ")
                        res_id=loaded_file[i]['restaurants'][j]['restaurant']['R']['res_id']
                        cuisines = loaded_file[i]['restaurants'][j]['restaurant']['cuisines']
                        has_table_booking = loaded_file[i]['restaurants'][j]['restaurant']['has_table_booking']
                        has_online_delivery = loaded_file[i]['restaurants'][j]['restaurant']['has_online_delivery']
                        city_id = loaded_file[i]['restaurants'][j]['restaurant']['location']['city_id']
                        address = loaded_file[i]['restaurants'][j]['restaurant']['location']['address']
                        locality_verbose = loaded_file[i]['restaurants'][j]['restaurant']['location']['locality_verbose']
                        longitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['longitude']
                        latitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['latitude']
                        is_delivering_now= loaded_file[i]['restaurants'][j]['restaurant']['is_delivering_now']                        
                        country_id=loaded_file[i]['restaurants'][j]['restaurant']['location']['country_id']
                        price_range=loaded_file[i]['restaurants'][j]['restaurant']['price_range']
                        switch_to_order_menu=loaded_file[i]['restaurants'][j]['restaurant']['switch_to_order_menu']
                        aggregate_rating=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['aggregate_rating']
                        rating_color=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_color']
                        votes=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['votes']
                        avg_cost=loaded_file[i]['restaurants'][j]['restaurant']['average_cost_for_two']
                        
                        writer.writerow([res_id,name_res,country_id,city,address,locality,locality_verbose,longitude,
                                         latitude,cuisines,avg_cost,has_table_booking,has_online_delivery,
                                         is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,
                                         rating_color,rating_text,votes])

In [27]:
zomato=pd.read_csv('zom-1.csv',sep=',', encoding='latin-1') #read csv
zomato.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",77.194471,28.554285,"Continental, American, Asian, North Indian",1600,1,1,0,0,3,4.3,5BA829,Very Good,7931
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",77.117701,28.647133,"Thai, European, Mexican, North Indian, Chinese...",1500,1,0,0,0,3,4.5,3F7E00,Excellent,778
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204317,28.694947,"Cafe, Italian, Continental, Chinese",850,0,1,0,0,2,4.4,5BA829,Very Good,1537
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",77.203809,28.552520,"Italian, Continental",1850,1,0,0,0,3,4.1,5BA829,Very Good,1823
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",77.222858,28.633025,"North Indian, Italian, Asian, American",1600,1,0,0,0,3,4.4,5BA829,Very Good,840

In [45]:
zomato.shape

(1171, 20)

In [28]:
# # There are 9475 distinct 
# zomato['Restaurant ID'].unique().shape

In [49]:
restaurant_id = ""
for r in zomato['Restaurant ID']:
    restaurant_id += str(r) + str('\n')

In [52]:
#

## Get reviews for restaurant

In [34]:
# path to un-processed data
path_to_folder = "raw_data_reviews"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['reviews_restaurant.json']

In [35]:
path=""


csvfile=open('review.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant_ID','Review']) 

review = []

for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in loaded_file.items():
            review = i[0]
            restaurant_id = i[1]
            print(review)
            print(restaurant_id)
            
            writer.writerow([restaurant_id,review])

They Serve One Of the best desi Chinese nearby. Have a big & tasty menu with alot of variations. One Should Must Try There Chinese. Also You Can Checkout More On Instagram @legendseatit Facebook @legendseatit Legends EatIt
18198449

18377912
Most of the reviews seems fake here...  If u look carefully all ppl have mass reviews give 5 star (those are paid food bloggers) and general public give 1-3stars... Food was kind of state and tasteless... Excess amount of oil and spices... Its just cheap food not tasty... Chaanp is all maida and paneer seems adulterated
18198449
Butter naan had a hair strand and Paneer was stale. We trust Zomato and place our orders during these times but these type of unhygienic incidents just breaks our trust.
18198449
Ah So Yum is one of the best Asian food delivering place of gurgaon. I have been ordering from here since past few months.   Kung pao chicken and Oriental fried rice are really some top picks from here.  One must try these. 👏
18945610
I am big fan of oriental food and dimsums and I was surprised to see this outlet Ah So Yum delivering most of my family favorites, we have been regularly ordering Veg chilli oil dimsums, water chestnut dimsums, Thai Curry, Angry Bird Bao, and Poke Bowl. Everything was so good and neatly packaged. I would highly recommend this to people living in Gurgaon.
18945610
Hakka noodles with manchurian ordered from Ah So Yum. Hygiene rating is excellent and they check rider temperature. Also their rating is 4.9, once ai was sure about the place I decided to order from them. This was my first food order after 10th March.  Food from here was packed very well. Food was very tasty lots of veggies were added to hakka noodles.  Perfect hygienic food delivery place. 😍😍
18945610
Meal Bowl perfect for one person. I live as a Paying guest in Ardee city, gurgaon. I am facing tough time due to corona virus. My maid who cooks food has left for her village. I have been managing with maggi, MTR food and sometimes online ordering. I have ordered around 6-8 times from Ah So Yum and they gave me good discount too. I loved their meal bowl perfect for one person. Burmese Khaosuey, Poke Bowl, Paneer Bowl, manchurian with hakka noodles, etc. I have tried from here. This place has been very nice to me considering my situation and giving me special 35% discount. Thank you very very much ah so yum. I wish you guys great time ahead.
18945610
Lovely thai curry with rice and sprite cans made my birthday special. I am at home and in january we booked tickets for Dubai on my birthday but due to Covid-19, I am locked inside my house. I ordered online from Ah So Yum to make my day better.   Food here is really good.  Ah so yum online ordering was only celebration I did on my 24th birthday. 🥳 thanks to them.
18945610
Bhature was very hard to tear and chewy. Chole was good and tasty. We’re not able to tear bhature. Surprised by this experience as food quality is usually good.
496
I miss you Bikanerwala! This lockdown is making me crave for everything I loved at Bikanerwala: The Chhole Bhatoore, the sweets and the evergreen Delux Thali!   Hope to be there soon!
496
Love there food and ambiance. It’s a family friendly restaurant with delicious food. I highly recommend this place. After lockdown ends I’ll definitely go here for dine in. Tables are cleaned after one gets up.
496
This place has a huge sitting area. The place has clean and well maintained in terms hygiene. It has everything to satiate your hunger pangs. Do try this place for absolutely delightful experience.
496
Personally in love with the place . Love eating every second dish . Their sweets, snacks everything is so up to the mark and most importantly very affordable. A must visit place.
313106
I visited om Sweets today to get cake and few other things for my mom's birthday. I was accompanied by my dad.  we collected the cake and samosas from the counter and was about to start our vehicle when a staff came running towards us and asked us to show the bill of the cake. We showed him the bill of the truffle cake but he still took the cake from our hand and asked us to come inside. We were a little embarrassed with no fault of ours. We payed the bill, we collected our cake. I told my dad to wait outside. I went inside with him, and was told ab jao jao. They didn't even apologise until my dad came inside and asked him "is this the way they treat their customers". They should ask their guards to check the bill before hand only. We were left embarrassed in front of the people outside and were made to look like thieves who took the cake without paying. Management is the key to success. You won't be spared in the name of big brand.
313106
I ordered chole bhature few days back, it always used to b gud whenever I had them by this time they were pathetic..... No salad was provided n bhaturas were thick n also not properly packed.....I especially wrote for green chutney bt it was not provided to me.....first time m disappointed from om
313106
Om Sweets serves one of the Best North Indian Food in the city. Their Chinese Thali, Chana Bhatura and Pav Bhaji are awesome in taste. Their sweets and snacks like Dodha Barfi, Dahi Bhalle chat and Golgappe are amazing. The service is also good. Highly recommended ♥️♥️
313106
I am very much disappointed with food tasteless and seems like 1 -2 day old dal makhni and kadahi paneer and tandoori rotis like stone and all burnt I threw all food nobody likes at my home...😏😏
18377912
I ordered zeera rice but they gave me plastic rice.worst rice I ever ate in my life.
18377912
I was satisfied with the taste they are offering at the reasonable prices and the plus point being a pure vegetarian restaurant. There service is pretty good. When i visited them the staff was also well behaved.
18377912

In [36]:
data = pd.read_csv('review.csv')
data.head()

   Restaurant_ID                                             Review
0       18198449  They Serve One Of the best desi Chinese nearby...
1       18377912                                                NaN
2       18198449  Most of the reviews seems fake here...  If u l...
3       18198449  Butter naan had a hair strand and Paneer was s...
4       18945610  Ah So Yum is one of the best Asian food delive...

1