# Data Collection and Storage

### Importing libraries

In [17]:
# python os library
import json,os,re,datetime
import csv

# pandas library
import pandas as pd
from pandas import DataFrame

In [33]:
# path to un-processed data
path_to_folder = "raw_data"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['file2.json', 'file1.json', 'file5.json', 'file3.json', 'file4.json']

`raw_data` folder contains json data fetched from Zomato API. It contains 10 files from different cities of California, USA.

In [34]:
path=""


csvfile=open('zomato.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['restaurant_id','restaurant_name','country_code','city','address','locality','locality_verbose','longitude','latitude','cuisines','average_cost_for_two','has_table_booking','has_online_delivery','is_delivering_now','switch_to_orvder_menu','price_range','aggregate_rating','rating_color','rating_text','votes']) #writer to write the row


for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in range(len(loaded_file)):
            if 'restaurants' in loaded_file[i].keys():
                for j in range(len(loaded_file[i]['restaurants'])):
                    if('restaurant' in loaded_file[i]['restaurants'][j].keys()):
                        
                        currency = loaded_file[i]['restaurants'][j]['restaurant']['currency']
                        city=loaded_file[i]['restaurants'][j]['restaurant']['location']['city']
                        locality=loaded_file[i]['restaurants'][j]['restaurant']['location']['locality']
                        rating_text=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_text']
                        name_res=loaded_file[i]['restaurants'][j]['restaurant']['name'].replace('/'," ")
                        res_id=loaded_file[i]['restaurants'][j]['restaurant']['R']['res_id']
                        cuisines = loaded_file[i]['restaurants'][j]['restaurant']['cuisines']
                        has_table_booking = loaded_file[i]['restaurants'][j]['restaurant']['has_table_booking']
                        has_online_delivery = loaded_file[i]['restaurants'][j]['restaurant']['has_online_delivery']
                        city_id = loaded_file[i]['restaurants'][j]['restaurant']['location']['city_id']
                        address = loaded_file[i]['restaurants'][j]['restaurant']['location']['address']
                        locality_verbose = loaded_file[i]['restaurants'][j]['restaurant']['location']['locality_verbose']
                        longitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['longitude']
                        latitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['latitude']
                        is_delivering_now= loaded_file[i]['restaurants'][j]['restaurant']['is_delivering_now']                        
                        country_id=loaded_file[i]['restaurants'][j]['restaurant']['location']['country_id']
                        price_range=loaded_file[i]['restaurants'][j]['restaurant']['price_range']
                        switch_to_order_menu=loaded_file[i]['restaurants'][j]['restaurant']['switch_to_order_menu']
                        aggregate_rating=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['aggregate_rating']
                        rating_color=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_color']
                        votes=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['votes']
                        avg_cost=loaded_file[i]['restaurants'][j]['restaurant']['average_cost_for_two']
                        
                        writer.writerow([res_id,name_res,country_id,city,address,locality,locality_verbose,longitude,
                                         latitude,cuisines,avg_cost,has_table_booking,has_online_delivery,
                                         is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,
                                         rating_color,rating_text,votes])

In [35]:
zomato=pd.read_csv('zomato.csv',sep=',', encoding='latin-1') #read csv
zomato.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,switch_to_orvder_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,25,0,0,0,0,2,3.3,CDD614,Average,26
1,801690,Mocha,1,Lucknow,"CP-1, 2nd Floor, Anand Plaza, Viram Khand-1, N...",Gomti Nagar,"Gomti Nagar, Lucknow",81.001185,26.852810,"Cafe, Italian, Continental",800,0,0,0,0,3,4.6,3F7E00,Excellent,567
2,17558738,Blue House Cafe,216,Vernonia,"919 Bridge St, Vernonia, OR 97064",Vernonia,"Vernonia, Vernonia",-123.195437,45.858667,"Coffee and Tea, Mediterranean",10,0,0,0,0,1,4.3,5BA829,Very Good,88
3,16611701,Star Buffet,14,Mayfield,"58 Hanbury St, Mayfield, NSW",Mayfield,"Mayfield, Mayfield",151.734383,-32.899178,Asian,20,0,0,0,0,2,2.9,FFBA00,Average,11
4,2100784,11th Avenue Cafe Bistro,1,Guwahati,"Opposite Assam State Museum, Dighalipukhuri, T...",Uzan Bazaar,"Uzan Bazaar, Guwahati",91.752314,26.186001,"Cafe, American, Italian, Continental",400,0,0,0,0,2,4.1,5BA829,Very Good,377

In [36]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29693 entries, 0 to 29692
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   restaurant_id          29693 non-null  int64
 1   restaurant_name        29693 non-null  object
 2   country_code           29693 non-null  int64
 3   city                   29693 non-null  object
 4   address                29693 non-null  object
 5   locality               29693 non-null  object
 6   locality_verbose       29693 non-null  object
 7   longitude              29693 non-null  float64
 8   latitude               29693 non-null  float64
 9   cuisines               29511 non-null  object
 10  average_cost_for_two   29693 non-null  int64
 11  has_table_booking      29693 non-null  int64
 12  has_online_delivery    29693 non-null  int64
 13  is_delivering_now      29693 non-null  int64
 14  switch_to_orvder_menu  29693 non-null  int64
 15  price_range            29693 non-null  int64
 16  aggregate_rating       29693 non-null  float64
 17  rating_color           29693 non-null  object
 18  rating_text            29693 non-null  object
 19  votes                  29693 non-null  int64
dtypes: float64(3), int64(9), object(8)
memory usage: 4.5+ MB

In [39]:
print("Total duplicated: " , zomato.duplicated().sum())

Total duplicated:  20174

In [41]:
# Droping duplicates
zomato.drop_duplicates(inplace=True)
print(zomato.shape)

# After droping duplicates the number of data is 9519.

(9519, 20)

In [43]:
# # There are 9475 distinct restaurant
zomato['restaurant_id'].unique().shape

(9475,)

### Now we will get reviews for all the distinct restaurant

In [115]:
# Exporting restaurant id.
# To be used for making request to zomato API 
# based on restaurant id

path_rest_id = "processed_data"
out_file = open(os.path.join(path_rest_id,'restaurant_id.txt'), "w")
for line in zomato['Restaurant_ID'].unique():
    out_file.write(str(line))
    out_file.write("\n")
out_file.close()

In [117]:
# To read rest file
read_file = open(os.path.join(path_rest_id,"restaurant_id.txt"), "r")
rest_ID= []
for i in read_file:
    i = i.replace('\n', '')
    rest_ID.append(i)

In [44]:
# Once restarant_id is exported. It is used in zomatoWrapper package to fetch reviews for restaurnat.

## Get reviews for restaurant

In [45]:
# path to un-processed data
path_to_folder = "raw_data_reviews"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['reviews_restaurant_0_900.json']

In [62]:
path=""

csvfile=open('review.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['restaurant_id','review']) 

review = []

for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in loaded_file.items():
            review = i[0]
            restaurant_id = i[1]
            
            writer.writerow([restaurant_id,review])

In [63]:
data = pd.read_csv('review.csv')
data.head()

   restaurant_id                                             review
0       16668008  i love arigato sushi!!!! the best restaurant i...
1       16668008  Was in Yorkton on a work trip and decided to t...
2       16668008  Had a sushi supper last week. The waitress was...
3       16668008  I was travelling trough and called in my order...
4       16668008  Delicious Food.. Yorkton isn't exactly known f...

In [66]:
dd = data.groupby("restaurant_id")['review'].apply(list)

In [71]:
dd.shape

(840,)

In [72]:
zomato_1= zomato.head(900)

In [73]:
df_merge_col = pd.merge(zomato_1,dd , on='restaurant_id')
df_merge_col.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,has_table_booking,has_online_delivery,is_delivering_now,switch_to_orvder_menu,price_range,aggregate_rating,rating_color,rating_text,votes,review
0,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...
1,801690,Mocha,1,Lucknow,"CP-1, 2nd Floor, Anand Plaza, Viram Khand-1, N...",Gomti Nagar,"Gomti Nagar, Lucknow",81.001185,26.852810,"Cafe, Italian, Continental",...,0,0,0,0,3,4.6,3F7E00,Excellent,567,[I just Simply love This Place.....It is ideal...
2,17558738,Blue House Cafe,216,Vernonia,"919 Bridge St, Vernonia, OR 97064",Vernonia,"Vernonia, Vernonia",-123.195437,45.858667,"Coffee and Tea, Mediterranean",...,0,0,0,0,1,4.3,5BA829,Very Good,88,[Delicious. There's not a single dish i've tri...
3,16611701,Star Buffet,14,Mayfield,"58 Hanbury St, Mayfield, NSW",Mayfield,"Mayfield, Mayfield",151.734383,-32.899178,Asian,...,0,0,0,0,2,2.9,FFBA00,Average,11,"[A lot of food and many varieties, some of the..."
4,2100784,11th Avenue Cafe Bistro,1,Guwahati,"Opposite Assam State Museum, Dighalipukhuri, T...",Uzan Bazaar,"Uzan Bazaar, Guwahati",91.752314,26.186001,"Cafe, American, Italian, Continental",...,0,0,0,0,2,4.1,5BA829,Very Good,377,[11th avenue cafe has always been my favorite....

### Saving merged dataframe to csv

In [75]:
df_merge_col.to_csv(os.path.join(path_to_json,'zomato_final.csv'), encoding='utf-8', index=False)

In [79]:
df_merge_col.shape

(840, 21)