# Data Collection and Storage

### Importing libraries

In [48]:
# python os library
import json,os,re,datetime
import csv

# pandas library
import pandas as pd
from pandas import DataFrame

In [49]:
# path to un-processed data
path_to_folder = "raw_data"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['file2.json', 'file1.json', 'file5.json', 'file3.json', 'file4.json']

`raw_data` folder contains json data fetched from Zomato API. It contains 10 files from different cities of California, USA.

In [50]:
path=""


csvfile=open('zomato.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant_ID','Restaurant Name','Country Code','City','Address','Locality','Locality Verbose','Longitude','Latitude','Cuisines','Average Cost for two','Has Table booking','Has Online delivery','Is delivering now','Switch to order menu','Price range','Aggregate rating','Rating color','Rating text','Votes']) #writer to write the row


for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in range(len(loaded_file)):
            if 'restaurants' in loaded_file[i].keys():
                for j in range(len(loaded_file[i]['restaurants'])):
                    if('restaurant' in loaded_file[i]['restaurants'][j].keys()):
                        
                        currency = loaded_file[i]['restaurants'][j]['restaurant']['currency']
                        city=loaded_file[i]['restaurants'][j]['restaurant']['location']['city']
                        locality=loaded_file[i]['restaurants'][j]['restaurant']['location']['locality']
                        rating_text=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_text']
                        name_res=loaded_file[i]['restaurants'][j]['restaurant']['name'].replace('/'," ")
                        res_id=loaded_file[i]['restaurants'][j]['restaurant']['R']['res_id']
                        cuisines = loaded_file[i]['restaurants'][j]['restaurant']['cuisines']
                        has_table_booking = loaded_file[i]['restaurants'][j]['restaurant']['has_table_booking']
                        has_online_delivery = loaded_file[i]['restaurants'][j]['restaurant']['has_online_delivery']
                        city_id = loaded_file[i]['restaurants'][j]['restaurant']['location']['city_id']
                        address = loaded_file[i]['restaurants'][j]['restaurant']['location']['address']
                        locality_verbose = loaded_file[i]['restaurants'][j]['restaurant']['location']['locality_verbose']
                        longitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['longitude']
                        latitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['latitude']
                        is_delivering_now= loaded_file[i]['restaurants'][j]['restaurant']['is_delivering_now']                        
                        country_id=loaded_file[i]['restaurants'][j]['restaurant']['location']['country_id']
                        price_range=loaded_file[i]['restaurants'][j]['restaurant']['price_range']
                        switch_to_order_menu=loaded_file[i]['restaurants'][j]['restaurant']['switch_to_order_menu']
                        aggregate_rating=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['aggregate_rating']
                        rating_color=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_color']
                        votes=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['votes']
                        avg_cost=loaded_file[i]['restaurants'][j]['restaurant']['average_cost_for_two']
                        
                        writer.writerow([res_id,name_res,country_id,city,address,locality,locality_verbose,longitude,
                                         latitude,cuisines,avg_cost,has_table_booking,has_online_delivery,
                                         is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,
                                         rating_color,rating_text,votes])

In [51]:
zomato=pd.read_csv('zomato.csv',sep=',', encoding='latin-1') #read csv
zomato.head()

,Restaurant_ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,25,0,0,0,0,2,3.3,CDD614,Average,26
1,801690,Mocha,1,Lucknow,"CP-1, 2nd Floor, Anand Plaza, Viram Khand-1, N...",Gomti Nagar,"Gomti Nagar, Lucknow",81.001185,26.852810,"Cafe, Italian, Continental",800,0,0,0,0,3,4.6,3F7E00,Excellent,567
2,17558738,Blue House Cafe,216,Vernonia,"919 Bridge St, Vernonia, OR 97064",Vernonia,"Vernonia, Vernonia",-123.195437,45.858667,"Coffee and Tea, Mediterranean",10,0,0,0,0,1,4.3,5BA829,Very Good,88
3,16611701,Star Buffet,14,Mayfield,"58 Hanbury St, Mayfield, NSW",Mayfield,"Mayfield, Mayfield",151.734383,-32.899178,Asian,20,0,0,0,0,2,2.9,FFBA00,Average,11
4,2100784,11th Avenue Cafe Bistro,1,Guwahati,"Opposite Assam State Museum, Dighalipukhuri, T...",Uzan Bazaar,"Uzan Bazaar, Guwahati",91.752314,26.186001,"Cafe, American, Italian, Continental",400,0,0,0,0,2,4.1,5BA829,Very Good,377

In [52]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29667 entries, 0 to 29666
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant_ID         29667 non-null  int64
 1   Restaurant Name       29667 non-null  object
 2   Country Code          29667 non-null  int64
 3   City                  29667 non-null  object
 4   Address               29667 non-null  object
 5   Locality              29667 non-null  object
 6   Locality Verbose      29667 non-null  object
 7   Longitude             29667 non-null  float64
 8   Latitude              29667 non-null  float64
 9   Cuisines              29486 non-null  object
 10  Average Cost for two  29667 non-null  int64
 11  Has Table booking     29667 non-null  int64
 12  Has Online delivery   29667 non-null  int64
 13  Is delivering now     29667 non-null  int64
 14  Switch to order menu  29667 non-null  int64
 15  Price range           29667 non-null  int64
 16  Aggregate rating      29667 non-null  float64
 17  Rating color          29667 non-null  object
 18  Rating text           29667 non-null  object
 19  Votes                 29667 non-null  int64
dtypes: float64(3), int64(9), object(8)
memory usage: 4.5+ MB

In [115]:
# # There are 9475 distinct 
# zomato['Restaurant_ID'].unique().shape
path_rest_id = "processed_data"
out_file = open(os.path.join(path_rest_id,'restaurant_id.txt'), "w")
for line in zomato['Restaurant_ID'].unique():
    out_file.write(str(line))
    out_file.write("\n")
out_file.close()

In [117]:
# To read rest file
read_file = open(os.path.join(path_rest_id,"restaurant_id.txt"), "r")
rest_ID= []
for i in read_file:
    i = i.replace('\n', '')
    rest_ID.append(i)

In [122]:
for l in rest_ID[:900]:
    print(l)

16668008
801690
17558738
16611701
2100784
801269
18483082
18483252
16615894
16605194
16605794
16604358
17534788
16606299
16654702
17694056
3700050
17629582
18366580
17211719
9417
18244555
18222566
303723
18291469
773
18282047
743
7759
311483
18180080
18421026
18322609
18332063
65
18216942
483
18163906
192
1675
313256
18237321
309859
302878
8241
304262
1188
305525
18057792
307036
18395381
18157384
4959
18429148
463
18289242
799
301998
307113
18345728
18126111
18144458
300408
17953911
307618
18337779
18396054
307464
304187
9565
306535
313061
306291
8853
308544
9657
300283
310942
1859
307167
4910
6003
309548
4917
6812
301102
4055
851
824
2701
815
18400770
305296
1898
1900
823
2702
847
2587
2745
7620
302936
1358
3632
309080
300984
311637
1712
18175256
7613
309756
18354627
18355107
7623
18239781
7602
18175328
18429374
301522
18459885
304735
310816
3039
2437
18161723
18232097
18350143
3492
566
311661
134
18415346
17953931
18400744
18247032
730
18363787
573
303215
302655
18273615
103
307822
4296
1901
800
308337
803
305686
18419910
304989
307284
310674
462
312710
303599
307370
18255125
18082237
2902
4302
7876
312173
18358157
18391937
7884
920
18266888
9891
303625
7893
312605
18381237
18419884
7886
18371426
18272344
9887
7888
7897
181
267
927
5325
149
18237363
212
1324
302945
1023
9671
1508
908
312902
18471283
18424893
7873
18037834
306526
1530
18208912
18219545
256
18128883
3043
18425159
309448
175
311161
310848
305871
209
17977751
582
18233599
302381
6200
18446475
310312
1406
18241531
18312632
18271497
309820
18034050
1902
300007
18363391
18456764
18382342
1056
303288
3589
311671
18418209
1215
309156
9834
18279463
9840
18398571
1625
18365388
18268360
312011
308315
3468
309322
18337744
18432237
18414479
18355419
18429154
18334422
18383432
18312607
18180081
18336220
304230
18261052
306247
5267
18335682
310259
18359259
18430873
3156
18440414
18449796
313482
306658
9640
305040
18471243
18423871
303170
305736
309593
300564
5897
18382353
307436
306815
307383
18408062
18316173
18258757
18306524
18337772
18463962
9709
306251
18336491
18384123
18425766
18415376
18439530
310032
18429396
18384135
771
4234
7352
5879
7391
3269
4501
2870
18383522
311451
4621
300268
4499
535
18247024
310328
300275
300262
7240
2122
3493
3494
301654
307692
307694
18438416
313280
18279453
18245249
307693
1917
18027962
9316
1407
307695
3497
18472648
18346857
18222557
18436483
310305
18337922
7892
18322676
310101
7891
18313115
3681
308488
310469
18355110
18243438
9568
18357554
18025100
18357562
18453186
18025096
18354663
310468
3635
309737
1866
9776
3634
309238
3054
307951
3610
305293
302892
309338
18372686
7382
18245255
8949
302898
9654
18322653
306957
813
3425
304628
18221038
154
309576
301422
303574
4624
6271
18361747
18400736
4450
4251
3400
954
307391
303716
5565
2899
18356840
303784
9875
18446391
313491
18371289
18425773
9588
18396161
312798
18455557
310344
18260714
18265724
308704
9599
18481310
18025089
310358
18425161
18391309
5727
311766
18255171
6222
309882
4268
60
1507
1395
305646
18423145
1819
309788
1614
8244
844
307802
7227
300656
311531
2632
3406
313207
9618
304931
4741
4404
307799
313299
303958
18333396
18416830
4315
18311961
18356811
9097
9141
7317
303851
18312458
18025111
7307
305151
7365
302473
311067
18489540
18372674
305190
2863
9751
18272370
1037
18291199
1036
307746
18376472
18348970
6179
1040
301190
313206
5726
309452
8346
303057
309728
18339800
18357533
18424619
18472439
18372279
306801
7815
308536
7905
18424883
18357819
18357948
18357941
18357943
305763
18287358
18291238
18289261
307990
18415339
309979
313073
18025093
309517
18025127
18350159
311683
18478990
18168122
18414506
18168124
18375201
18433297
18409207
18415338
18478992
18472695
18489842
18463608
312983
18489808
18408079
18175282
312753
18277163
18175299
18175297
18277176
18337908
18175278
18277178
18489545
18467388
18446867
18489804
18492029
18352672
18034037
307571
18034053
7060
312772
311340
18349916
18053052
18303832
18228894
18222586
309865
18418239
300815
312142
2215
18291230
18368002
304162
18472788
7388
18225831
18425739
18425758
300259
18229077
18357566
309509
18354992
18424615
18354988
18468524
18425175
18425772
18354998
18472683
18425178
18025119
18425768
305545
196
305548
18336192
18268390
304917
18261188
2232
304915
148
309738
308331
3607
5487
1185
304913
304906
18126080
3608
306031
7720
18337892
602
1401
311553
2585
4101
709
7721
3337
302742
300744
3339
18369763
307785
9573
302514
9602
18449787
308628
3684
312949
304445
18463963
310100
7874
7889
7879
303608
18409180
18358168
18360900
18357551
18429188
18432628
18472680
307409
7483
1461
310164
18311948
308489
18355004
18289277
306739
18312564
312169
18440259
306749
312146
306741
9974
300529
301994
18449798
306729
18431159
306733
301783
18489651
301775
306750
313012
301867
6475
300302
306166
305526
310665
18163892
18334452
301722
2586
131
3555
18312571
18025131
7797
18352263
302573
18153550
18161591
18355275
18352264
18414494
18414497
18332442
18312455
18439705
18345771
18306540
18412894
18312459
18312463
307171
307865
18428880
18478389
307169
18486861
18472663
18469974
18425179
18352172
18325509
18434343
18472665
18427212
313127
18396151
18486869
18486866
18461352
18057802
312231
18481278
311828
18126972
5846
18456770
4330
300281
1774
305606
18357527
18337920
300280
7310
18219526
18458306
300258
18144483
306870
304186
8216
18384121
300235
18428536
302326
309192
300236
300231
18303837
18488864
2201
312827
302314
18203159
302318
302311
18469965
18408066
18355141
18408037
18312586
18440160
305833
4830
9984
4271
4752
4341
7364
18219554
306545
8201
18219522
3921
305781
1372
311634
310916
219
18217023
9720
2741
7824
18219530
310198
18364414
7803
7818
18357939
18425158
18489497
18396418
18425149
18357568
18370535
18486878
18492652
1777
3379
3378
7319
4357
4356
3164
7772
302542
7768
302264
309140
18336489
18245295
18252412
351
18433610
18358164
18157395
18358675
18261701
18175323
301154
18391458
313296
1018
309844
305303
1021
309815
310342
18462002
2867
312787
3611
309105
18089222
308238
18253111
18279452
301435
703
312486
18436439
18254521
18337895
18175302
311211
305
556
451
18414499
305269
570
18306530
3568
9706
312567
311690
309161
7636
4299
18304836
18057805
301405
3504
7599
4973
7610
7593
7639
7584
306531
9095
18358700
310891
305826
4640
2250
18427565
18345751
301328
305147
9890
305684
306554
310723
2778
310169
311345
312300
3072
2436
4905
1060
1492
18180041
18144479
302152
18264997
1509
7068
311423
7228
308697

## Get reviews for restaurant

In [126]:
# path to un-processed data
path_to_folder = "raw_data_reviews"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['reviews_restaurant_0_900.json']

In [128]:
path=""


csvfile=open('review.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant_ID','Review']) 

review = []

for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in loaded_file.items():
            review = i[0]
            restaurant_id = i[1]
            
            writer.writerow([restaurant_id,review])

In [129]:
data = pd.read_csv('review.csv')
data.head()

   Restaurant_ID                                             Review
0       16668008  i love arigato sushi!!!! the best restaurant i...
1       16668008  Was in Yorkton on a work trip and decided to t...
2       16668008  Had a sushi supper last week. The waitress was...
3       16668008  I was travelling trough and called in my order...
4       16668008  Delicious Food.. Yorkton isn't exactly known f...

In [139]:
dd = data.groupby("Restaurant_ID")['Review'].apply(list)

In [134]:
zomato_1= zomato.head(900)

In [138]:
df_merge_col = pd.merge(zomato_1,dd , on='Restaurant_ID')
df_merge_col.head()

,Restaurant_ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Review
0,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...
1,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...
2,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...
3,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...
4,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,0,0,0,0,2,3.3,CDD614,Average,26,[i love arigato sushi!!!! the best restaurant ...

### Saving merged data