# Data Collection and Storage

### Importing libraries

In [88]:
# python os library
import json,os,re,datetime
import csv

# pandas library
import pandas as pd
from pandas import DataFrame

In [89]:
# path to un-processed data
path_to_folder = "raw_data"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['file1.json']

`raw_data` folder contains json data fetched from Zomato API. It contains 10 files from different cities of California, USA.

In [90]:
path=""


csvfile=open('zom-1.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant_ID','Restaurant Name','Country Code','City','Address','Locality','Locality Verbose','Longitude','Latitude','Cuisines','Average Cost for two','Has Table booking','Has Online delivery','Is delivering now','Switch to order menu','Price range','Aggregate rating','Rating color','Rating text','Votes']) #writer to write the row


for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in range(len(loaded_file)):
            if 'restaurants' in loaded_file[i].keys():
                for j in range(len(loaded_file[i]['restaurants'])):
                    if('restaurant' in loaded_file[i]['restaurants'][j].keys()):
                        
                        currency = loaded_file[i]['restaurants'][j]['restaurant']['currency']
                        city=loaded_file[i]['restaurants'][j]['restaurant']['location']['city']
                        locality=loaded_file[i]['restaurants'][j]['restaurant']['location']['locality']
                        rating_text=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_text']
                        name_res=loaded_file[i]['restaurants'][j]['restaurant']['name'].replace('/'," ")
                        res_id=loaded_file[i]['restaurants'][j]['restaurant']['R']['res_id']
                        cuisines = loaded_file[i]['restaurants'][j]['restaurant']['cuisines']
                        has_table_booking = loaded_file[i]['restaurants'][j]['restaurant']['has_table_booking']
                        has_online_delivery = loaded_file[i]['restaurants'][j]['restaurant']['has_online_delivery']
                        city_id = loaded_file[i]['restaurants'][j]['restaurant']['location']['city_id']
                        address = loaded_file[i]['restaurants'][j]['restaurant']['location']['address']
                        locality_verbose = loaded_file[i]['restaurants'][j]['restaurant']['location']['locality_verbose']
                        longitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['longitude']
                        latitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['latitude']
                        is_delivering_now= loaded_file[i]['restaurants'][j]['restaurant']['is_delivering_now']                        
                        country_id=loaded_file[i]['restaurants'][j]['restaurant']['location']['country_id']
                        price_range=loaded_file[i]['restaurants'][j]['restaurant']['price_range']
                        switch_to_order_menu=loaded_file[i]['restaurants'][j]['restaurant']['switch_to_order_menu']
                        aggregate_rating=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['aggregate_rating']
                        rating_color=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_color']
                        votes=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['votes']
                        avg_cost=loaded_file[i]['restaurants'][j]['restaurant']['average_cost_for_two']
                        
                        writer.writerow([res_id,name_res,country_id,city,address,locality,locality_verbose,longitude,
                                         latitude,cuisines,avg_cost,has_table_booking,has_online_delivery,
                                         is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,
                                         rating_color,rating_text,votes])

In [91]:
zomato=pd.read_csv('zom-1.csv',sep=',', encoding='latin-1') #read csv
zomato.head()

,Restaurant_ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",77.194471,28.554285,"Continental, American, Asian, North Indian",1600,1,1,0,0,3,4.3,5BA829,Very Good,7931
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",77.117701,28.647133,"Thai, European, Mexican, North Indian, Chinese...",1500,1,0,0,0,3,4.5,3F7E00,Excellent,778
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204317,28.694947,"Cafe, Italian, Continental, Chinese",850,0,1,0,0,2,4.4,5BA829,Very Good,1537
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",77.203809,28.552520,"Italian, Continental",1850,1,0,0,0,3,4.1,5BA829,Very Good,1823
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",77.222858,28.633025,"North Indian, Italian, Asian, American",1600,1,0,0,0,3,4.4,5BA829,Very Good,840

In [92]:
zomato.shape

(1145, 20)

In [93]:
# # There are 9475 distinct 
# zomato['Restaurant ID'].unique().shape

## Get reviews for restaurant

In [69]:
# path to un-processed data
path_to_folder = "raw_data_reviews"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['reviews_restaurant.json']

In [82]:
path=""


csvfile=open('review.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant_ID','Review']) 

review = []

for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in loaded_file.items():
            review = i[0]
            restaurant_id = i[1]
            print(review)
            print(restaurant_id)
            
            writer.writerow([restaurant_id,review])

The best cafe of Delhi NCR. Period.   AMBIENCE- The place is located by the lanes of Hauz Khas Village, amongst many other cafes as well. The place is pretty much lit up with a quirky environment. Also, the place is very big! This is the place to be in the early evenings.  Back to the Business- FOOD!   Classic Cheese Poutine- These are the basic cheesy and baked fries, seasoned with some Italian herbs. These were fantastic! Fries were crispy and cheesy.   Butter Garlic Chilli Momos- These are the dry, pan-fried momos with enormous flavours of Butter and Garlic. These were hands down THE BEST momos I've ever had!  🔥♥️🔥 Recommended! 🔥  Mixed Sauce Pasta- The pasta was not very high on flavours, was inclined more towards the Arrabiata sauce. Go for it if you're a fan of Mix Sauce Pasta!  💯  SERVICE- The place has servers who're always happy to help you but then the crowd is in large quantity as well. Still, you'll be satisfied and engaged with a great view of the side by lake. 💯
308322

18241537
We stumbled upon this place by chance and oh it was soo worth it. Hauz khas social is a place that mesmerizes with its ambience first then food. The lake view was tha best part of the restaurant. Everything here was absolutely impeccable. The service by Mr Pankaj was very good and he was so polite. According to me this was a perfect place for a date without hurting your pockets.
308322
Personally I didn’t like this place, too shady and pricy. The food vs price proportion is quite odd.
308322
I love the black theme of the cafe. it's a very attractive & Cool  Nice Interior with very good food.  I really enjoy the food here different dishes wid my friends which turned out to be very good for us and we will visit here again for trying more different varieties of food.
308322
Its a lovely place , the ambience as well as the staff is good . The food was also good. One can come here to spend some time with their friends
18037817
There is a lot more to menu  Zomato's menu is not updated. Wide range of dishes makes it a must go  place  Ambience is  amazing (dark theme ) (5/5) Their Shanghai rolls were really very appealing and the quantity was good too (5/5) Bharwan khumbh were also very flavoury and tasty(4/5) Corn and spinach Dimsums were not very tasty kind of feeka feeka taste (2.5/5) although the quantity was impressive  Recommended ✌️
18037817
One of the most happening place, They serve fingerlicking and lips smacking food, I loved the shakes here and also paneer tikka. Beautiful ambience,full party crowd and decent staff. Perfect place for party.
18037817
Improve ur product knowledge
18037817
The oreo cookie shake of this place is just so amazing. A must have if you are in the area. Coming to food i feel they can add a few more options but the white sauce pasta of this place is really awesome. All in all recommended place!
312345
This place is named after the very famous Hudson Lane. The street is foodies paradise. The place is very popular among the students since its close proximity to the University of Delhi. They have a very vast menu, mainly in Italian and Continental dishes. I have ordered Spicy Chicken Tikka Pizza, Chicken Lasagne and made my own Burger. All these are amazing in taste. The ambiance is pleasing and staff is also very helpful in choosing the right dishes from the menu. Do explore this place!
312345
Overall food is worthy the place . Just a bit cut in the prices of drinks like mojitos and shakes :)
312345
You can visit there with your family too..! Nice Place to have some Good food and Enjoy Time With your Loved ones
312345
This place has great rooftop ambiance. The seating is comfortable and music is good. We tried chilli chicken and cheesy fries along with cocktails. Everything was nice. The service is also decent.
307490
I went back and forth about my feelings on Summer House. And I would like to say that it is an inclusive club with gaurded dance and bar areas. I felt save in this club where I met a lot of other people (or maybe it was by luck). I have given 2 stars only because the bartender didn't gave us happy hour offer and we ended up paying double the amount, quite a bummer. We ordered 4 heineken while it was still happy hour and 2 others later than that.
307490
Tandoori paneer tikka was really good with quality nd quantity. panner cubes made so softly nd delicious. delivery was not delayed which was relief for me. The packing was great nd perfect. Masala were in awsmm flavors.
18241537
I visited this place with my friends on my birthday, no doubt their ambience is obviously classic. The food we ordered was delicious and drinks were too good. Overall presentation of the food was great here👍🏻
18241537
There live music is just amazing
18241537
A nice decor with great food. We ordered chicken lassagna and i will give 4/5 and lemon mojito 5/5. The lassagna was more than sufficient in quantity and the drink was very refreshing.  And cant forget to mention the live music which mesmerized our heart and made our lunch more appeasing🤩
18241537

In [83]:
data = pd.read_csv('review.csv')
data.head()

   Restaurant_ID                                             Review
0         308322  The best cafe of Delhi NCR. Period.   AMBIENCE...
1       18241537                                                NaN
2         308322  We stumbled upon this place by chance and oh i...
3         308322  Personally I didn’t like this place, too shady...
4         308322  I love the black theme of the cafe. it's a ver...

In [84]:
dd = data.groupby("Restaurant_ID")['Review'].apply(list)
dd

Restaurant_ID
307490      [This place has great rooftop ambiance. The se...
308322      [The best cafe of Delhi NCR. Period.   AMBIENC...
312345      [The oreo cookie shake of this place is just s...
18037817    [Its a lovely place , the ambience as well as ...
18241537    [nan, Tandoori paneer tikka was really good wi...
Name: Review, dtype: object

In [95]:
zomato_1= zomato.head()
zomato_1.Restaurant_ID

0      308322
1    18037817
2      312345
3      307490
4    18241537
Name: Restaurant_ID, dtype: int64

In [97]:
df_merge_col = pd.merge(zomato_1,dd , on='Restaurant_ID')
df_merge_col

,Restaurant_ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Review
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",77.194471,28.554285,"Continental, American, Asian, North Indian",...,1,1,0,0,3,4.3,5BA829,Very Good,7931,[The best cafe of Delhi NCR. Period. AMBIENC...
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",77.117701,28.647133,"Thai, European, Mexican, North Indian, Chinese...",...,1,0,0,0,3,4.5,3F7E00,Excellent,778,"[Its a lovely place , the ambience as well as ..."
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204317,28.694947,"Cafe, Italian, Continental, Chinese",...,0,1,0,0,2,4.4,5BA829,Very Good,1537,[The oreo cookie shake of this place is just s...
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",77.203809,28.552520,"Italian, Continental",...,1,0,0,0,3,4.1,5BA829,Very Good,1823,[This place has great rooftop ambiance. The se...
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",77.222858,28.633025,"North Indian, Italian, Asian, American",...,1,0,0,0,3,4.4,5BA829,Very Good,840,"[nan, Tandoori paneer tikka was really good wi..."