# Data Collection and Storage

### Importing libraries

In [27]:
# python os library
import json,os,re,datetime
import csv

# pandas library
import pandas as pd
from pandas import DataFrame

In [41]:
# path to un-processed data
path_to_folder = "raw_data"

# path to processed data
path_to_json = 'processed_data'

#looping in the folder "data" where the the json files are placed 
json_files = [pos_json for pos_json in os.listdir(path_to_folder) if pos_json.endswith('.json')] 

# printing list of json files 
print (json_files)

['file1.json']

`raw_data` folder contains json data fetched from Zomato API. It contains 10 files from different cities of California, USA.

In [42]:
path=""


csvfile=open('zom-1.csv', 'w',newline="")
writer=csv.writer(csvfile)  
writer.writerow(['Restaurant ID','Restaurant Name','Country Code','City','Address','Locality','Locality Verbose','Longitude','Latitude','Cuisines','Average Cost for two','Has Table booking','Has Online delivery','Is delivering now','Switch to order menu','Price range','Aggregate rating','Rating color','Rating text','Votes']) #writer to write the row


for js in json_files:
    with open(os.path.join(path_to_folder, js),'r', encoding='utf-8', errors="ignore") as json_file: #append the path of file to the source folde
        loaded_file = json.load(json_file,strict=False) #load the file to be selected
        for i in range(len(loaded_file)):
            if 'restaurants' in loaded_file[i].keys():
                for j in range(len(loaded_file[i]['restaurants'])):
                    if('restaurant' in loaded_file[i]['restaurants'][j].keys()):
                        
                        currency = loaded_file[i]['restaurants'][j]['restaurant']['currency']
                        city=loaded_file[i]['restaurants'][j]['restaurant']['location']['city']
                        locality=loaded_file[i]['restaurants'][j]['restaurant']['location']['locality']
                        rating_text=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_text']
                        name_res=loaded_file[i]['restaurants'][j]['restaurant']['name'].replace('/'," ")
                        res_id=loaded_file[i]['restaurants'][j]['restaurant']['R']['res_id']
                        cuisines = loaded_file[i]['restaurants'][j]['restaurant']['cuisines']
                        has_table_booking = loaded_file[i]['restaurants'][j]['restaurant']['has_table_booking']
                        has_online_delivery = loaded_file[i]['restaurants'][j]['restaurant']['has_online_delivery']
                        city_id = loaded_file[i]['restaurants'][j]['restaurant']['location']['city_id']
                        address = loaded_file[i]['restaurants'][j]['restaurant']['location']['address']
                        locality_verbose = loaded_file[i]['restaurants'][j]['restaurant']['location']['locality_verbose']
                        longitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['longitude']
                        latitude= loaded_file[i]['restaurants'][j]['restaurant']['location']['latitude']
                        is_delivering_now= loaded_file[i]['restaurants'][j]['restaurant']['is_delivering_now']                        
                        country_id=loaded_file[i]['restaurants'][j]['restaurant']['location']['country_id']
                        price_range=loaded_file[i]['restaurants'][j]['restaurant']['price_range']
                        switch_to_order_menu=loaded_file[i]['restaurants'][j]['restaurant']['switch_to_order_menu']
                        aggregate_rating=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['aggregate_rating']
                        rating_color=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['rating_color']
                        votes=loaded_file[i]['restaurants'][j]['restaurant']['user_rating']['votes']
                        avg_cost=loaded_file[i]['restaurants'][j]['restaurant']['average_cost_for_two']
                        
                        writer.writerow([res_id,name_res,country_id,city,address,locality,locality_verbose,longitude,
                                         latitude,cuisines,avg_cost,has_table_booking,has_online_delivery,
                                         is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,
                                         rating_color,rating_text,votes])

In [43]:
zomato=pd.read_csv('zom-1.csv',sep=',', encoding='latin-1') #read csv
zomato.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,308322.0,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",77.194471,28.554285,"Continental, American, Asian, North Indian",1600,1,1,0,0,3,4.3,5BA829,Very Good,7931
1,18037817.0,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",77.117701,28.647133,"Thai, European, Mexican, North Indian, Chinese...",1500,1,0,0,0,3,4.5,3F7E00,Excellent,778
2,312345.0,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204317,28.694947,"Cafe, Italian, Continental, Chinese",850,0,1,0,0,2,4.4,5BA829,Very Good,1537
3,307490.0,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",77.203809,28.552520,"Italian, Continental",1850,1,0,0,0,3,4.1,5BA829,Very Good,1823
4,18241537.0,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",77.222858,28.633025,"North Indian, Italian, Asian, American",1600,1,0,0,0,3,4.4,5BA829,Very Good,840

In [45]:
zomato.shape

(1171, 20)

In [40]:
# There are 9475 distinct 
zomato['Restaurant ID'].unique().shape

(9475,)

In [49]:
restaurant_id = ""
for r in zomato['Restaurant ID']:
    restaurant_id += str(r) + str('\n')